{% extends 'todo/base.html' %}

{% load bootstrap3 %}

{% block title %}
    <h2>Add New List</h2>
{% endblock %}

{% block content %}

{% if form.errors %}
    <div class="alert alert-danger">
        <p>Please, fix errors and try again</p>
    </div>
{% endif %}

<form action="" role="form" method="POST">

    {% csrf_token  %}

    <div>

        {% bootstrap_form form layout="horizontal" %}

    </div>

    {% buttons submit='Add' %}

    <a href="{% url 'todo:index' %}" class="btn btn-warning">
        Cancel
    </a>

    {% endbuttons %}

</form>



{% endblock %}
