{% extends 'todo/base.html' %}

{% load bootstrap3 %}

{% block title %}
    {{ list.name }}
{% endblock %}

{% block author %}
    Created by: {{ author }}
    {% if perm == 'e' %}
        <p>You have rights to edit this list</p>
    {% elif perm == 'r'  %}
        <p>You have rights only to read this list</p>
    {% endif %}
{% endblock %}

{% block content %}

<p>Need to add task?</p>
<h4 class="list_nav">
    <a href="{% url 'todo:add_task' list.id %}" class="btn btn-success">
        Add Task
    </a>
</h4>

{% if list.task_set.all %}

<div class="row">
    <div class="col-md-2"><h4>Task title</h4></div>
    <div class="col-md-2"><h4>Time</h4></div>
    <div class="col-md-5"><h4>Description</h4></div>
    <div class="col-md-1"><h4>Completed</h4></div>
</div>
<hr/>
<div>
    {% for task in list.task_set.all %}
    <div class="row">
        <div class="col-md-2">
            <a href="{% url 'todo:update_task' list.id task.id %}">
                {{ task.name }}
            </a>
        </div>
        <div class="col-md-2"><p>{{ task.time }}</p></div>
        <div class="col-md-5"><p>{{ task.description }}</p></div>
        {% if task.completed %}
            <div class="col-md-1"><p><span
                    class="glyphicon glyphicon-ok" aria-hidden="true">
            </span></p></div>
        {% else %}
            <div class="col-md-1"><p><span
                    class="glyphicon glyphicon-remove" aria-hidden="true">
            </span></p></div>
        {% endif %}
        <div class="col-md-2">
            <a href="{% url 'todo:delete_task' list.id task.id %}">
                Delete
            </a>
        </div>
    </div>


    {% endfor %}
</div>

{% else %}

    <p>No tasks are created for this list.</p>

{% endif %}

<hr/>

<div class="row">
    <div class="col-md-4">
        <p>Here you can edit your list</p>
        <h4><a href="{% url 'todo:update_list' list.id %}" class="btn btn-warning">
            Update
        </a></h4>
    </div>
    <div class="col-md-4">
        <p>Don't need this list any more?</p>
        <h4><a href="{% url 'todo:delete_list' list.id %}" class="btn btn-danger">
            Delete
        </a></h4>
    </div>
    <div class="col-md-4">
        <p>Do you want to share list?</p>
        <h4><a href="{% url 'todo:share_list' list.id %}" class="btn btn-warning">
            Share
        </a></h4>
    </div>
</div>


{% endblock %}