{% extends 'todo/base.html' %}

{% load bootstrap3 %}

{% block title %}
    <h2>My Lists</h2>
{% endblock %}

{% block content %}

{% if object_list %}

<div class="row">
    <div class="col-md-3"><h4>Date</h4></div>
    <div class="col-md-6"><h4>List name</h4></div>
    <div class="col-md-3"><h4>Delete?</h4></div>
</div>

<hr/>

<ul>
    {% for list in object_list %}

    <div class="row">
        <div class="col-md-3"><h4><p>{{ list.created_date }}</a></p></h4></div>
        <div class="col-md-6"><h4><a href="{% url 'todo:detail' list.id %}">{{ list.name }}</a></h4></div>
        <div class="col-md-3">
            <h4>
                <a href="{% url 'todo:delete_list' list.id %}" class="btn btn-danger">
                    Delete
                </a>
            </h4>
        </div>
    </div>



    {% endfor %}
</ul>
<hr/>

{% else %}

    <p>You are at ToDo list application. Here you can create and manage your lists.</p>
    <p>Do you want to start your first one?</p>
    <h4><a href="{% url 'todo:add_list'%}" class="btn btn-success">
        Add List
    </a></h4>

{% endif %}

{% endblock %}