{% extends 'todo/base.html' %}

{% load bootstrap3 %}

{% block title %}
    <h2>Delete List</h2>
{% endblock %}

{% block content %}

<p>Do you really want to delete it?</p>

<form action="" role="form" method="POST">

    {% csrf_token %}

    {% buttons submit='Delete' %}

    <a href="{% url 'todo:detail' list.id %}" class="btn btn-warning">
        Cancel
    </a>

    {% endbuttons %}

</form>

{% endblock %}