{% extends 'todo/base.html' %}

{% load bootstrap3 %}

{% block title %}
    <h2>Shared Lists</h2>
{% endblock %}

{% block content %}

{% if object_list %}

<div class="row">
    <div class="col-md-4"><h4>Date</h4></div>
    <div class="col-md-8"><h4>List name</h4></div>
</div>

<hr/>

<ul>
    {% for list in object_list %}

    <div class="row">
        <div class="col-md-3"><p>{{ list.created_date }}</a></p></div>
        <div class="col-md-9"><h4><a href="{% url 'todo:detail' list.id %}">{{ list.name }}</a></h4></div>
    </div>



    {% endfor %}
</ul>
<hr/>

{% else %}

    <p>You don't have any shared lists</p>

{% endif %}

{% endblock %}