<!DOCTYPE html>
{% load staticfiles %}
{% load url from future %}
{% load bootstrap3 %}
{% bootstrap_css %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Cover Template for Bootstrap</title>
    <link rel="stylesheet" href="{% static 'style.css' %}"/>
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    <div class="site-wrapper">

        <div class="site-wrapper-inner">

            <div class="cover-container">

                <div class="masthead clearfix">
                    <div class="inner">
                        <h3 class="masthead-brand">
                            {% if user.is_authenticated %}
                                <p>Welcome, <a href="{% url 'profiles:profile' user.id  %}">{{ user.username }}</a></p>
                            {% else %}
                                <p>Welcome</p>
                            {% endif %}
                        </h3>
                        <nav>
                            {% if user.is_authenticated %}
                            <ul class="nav masthead-nav">
                                <li><a href="{% url 'profiles:index' %}">Main</a></li>
                                <li><a href="{% url 'todo:index' %}">ToDo List</a></li>
                                <li><a href="{% url 'profiles:logout' %}">Logout</a></li>
                            </ul>
                            {% else %}
                            <ul class="nav masthead-nav">
                                <li><a href="{% url 'profiles:index' %}">Main</a></li>
                                <li><a href="{% url 'profiles:register' %}">Sign Up</a></li>
                                <li><a href="{% url 'profiles:login' %}">Login</a></li>
                            </ul>
                            {% endif %}
                        </nav>
                    </div>
                    <h1 class="list_header">
                        {% block title %}
                        {% endblock %}
                    </h1>
                </div>
                <div class="inner cover">
                    {% block content %}
                    {% endblock %}
                </div>

                <div class="mastfoot">
                    <div class="inner">
                        <p><a href="http://getbootstrap.com">Bootstrap</a></p>
                    </div>
                </div>

            </div>

        </div>

    </div>

</body>