{% extends 'profiles/base.html' %}

{% load bootstrap3 %}

{% block title %}
    <h2>Profile</h2>
{% endblock %}

{% block content %}

<form action="" role="form" method="POST">

    {% csrf_token  %}

    <div>

        {% bootstrap_form form layout="horizontal" %}

    </div>

    {% buttons submit='Save' %}

    <a href="{% url 'profiles:index' %}" class="btn btn-warning">
        Cancel
    </a>

    {% endbuttons %}

</form>

{% endblock %}