{% extends 'profiles/base.html' %}

{% load bootstrap3 %}

{% block content %}

<form action="" role="form" method="POST">

    {% csrf_token  %}

    <div>

        {% bootstrap_form form layout="horizontal" %}

    </div>

    {% buttons submit='Register' %}{% endbuttons %}

</form>

{% endblock %}